body{
  margin: 0px;
  border: 0px;
  background-color: rgb(65, 65, 65);
}

.home{
  position: relative;
  left: 67vw;
  top: 1vw;
  font-size: 1.5vw;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.5vw;
  width: 6vw;
  text-align: center;
  border-radius: 2.5vw;
}
.home:hover
{
  background-color: white;
  color: black;
}
.blog{
  position: relative;
  left: 68vw;
  top: 1vw;
  font-size: 1.5vw;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.5vw;
  width: 6vw;
  text-align: center;
  border-radius: 2.5vw;
}
.blog:hover
{
  background-color: white;
  color: black;
}
.about
{
  position: relative;
  left: 69vw;
  top: 1vw;
  font-size: 1.5vw;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.5vw;
  width: 6vw;
  text-align: center;
  border-radius: 2.5vw;
}
.about:hover
{
  background-color: white;
  color: black;
}
.work
{
  position: relative;
  left: 70vw;
  top: 1vw;
  font-size: 1.5vw;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.5vw;
  width: 6vw;
  text-align: center;
  border-radius: 2.5vw;
}
.work:hover
{
  background-color: white;
  color: black;
}
.nametag
{
  font-family: one;
  position: relative;
  padding: 1vw;
  font-size: 3vw;
  background-color: white;
  text-align: center;
  width: 50vw;
  border-radius: 3vw;
  left: 4vw;
}
@font-face {
  font-family: one;
  src: url(fonts/biz.ttf);
}
@font-face {
  font-family: two;
  src: url(fonts/comfortaa.ttf);
}
.profilepic
{
  position: relative;
  bottom: 5vw;
  left: 4vw;
  width: 6vw;
  height: auto;
}
.tag1,.tag2,.tag3
{
  position: relative;
  font-family: two;
  font-size: 2vw;
  color: green;
  left: 19vw;
}
.redditlogo
{
  position: relative;
  bottom: 2vw;
  left: 5.7vw;
  top: 3.5vw;
  width: 3.3vw;
  height: auto;
}
.linkedlnlogo
{
  position: relative;
  left: 2.3vw;
  bottom: 2vw;
  width: 3vw;
  height: auto;
}
.githublogo
{
  position: relative;
  bottom: 7vw;
  right: 1vw;
  width: 3.5vw;
  height: auto;
}















#replaydes,#messag
{
  color: white;
  background-color: black;
  word-wrap: break-word;
  height: 400px;
  overflow-x:hidden;
  overflow-y:visible;
}
.header
{
  background-color: white;
  text-align: center;
  margin: 40px;
}
#img1
{
  position: relative;
  right: 30%;
  width: 7%;
  display: inline;
}
.h_text
{
  color: rgb(130, 130, 130);
  font-size: 5vw;
  display: inline;
  position: relative;
}
.one, .two
{
  margin: 15px;
  text-align: center;
  background-color: rgb(130, 130, 130);
}
#b1, #b2
{
  font-size: 5vw;
}
#comment2
{
  font-size: 20px;
}
#replay1, #replay2
{
  position:relative;
  right: 43%;
  font-size: 3vw;
  max-width: 300px;
  background-color: white;
  display: inline;
  text-align: left;
}
#l1, #l2
{
  position: relative;
  right: 43%;
  background-color: yellow;
  display: inline;
  text-align: left;
}
.date{
  position: relative;
  right: 36%;
  font-size: 2vw;
}
#blogmain
{
  font-size: 4vw;
  color: white;
  text-align: center;
}








.aboutpage,.workpage
{
  position: relative;
  font-size: 10vw;
  text-align: center;
  top: 20vw;
}
