body{
  margin: 0px;
  border: 0px;
  background-color: rgb(65, 65, 65);
}





.home, .blog
{
  display: inline;
  font-size: 30px;
  color: white;
  background-color: black;
}















.header
{
  background-color: white;
  text-align: center;
  margin: 40px;
}
#img1
{
  position: relative;
  right: 30%;
  width: 7%;
  display: inline;
}
.h_text
{
  color: rgb(130, 130, 130);
  font-size: 5vw;
  display: inline;
  position: relative;
}
.one, .two
{
  margin: 15px;
  text-align: center;
  background-color: rgb(130, 130, 130);
}
#b1, #b2
{
  font-size: 4vw;
}
#replay1, #replay2
{
  font-size: 3vw;
  max-width: 300px;
  background-color: white;
  display: inline;
  text-align: left;
}
#l1, #l2
{
  background-color: white;
  max-width: 200px;
  display: inline;
  text-align: left;
}
