*
{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');


body{
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: aquamarine;
}
html{
  scroll-behavior: smooth;
}
.body1
{
  scroll-behavior: smooth;
}
.new
{
  background-color: rgb(58, 57, 56);
  width: 100vw;
  height: 100vh;
}
#headd
{
  color: #657725;
  position: absolute;
  display: grid;
  align-items: center;
  left : 2vw;
  z-index: 2;
}
.headertags
{
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto;
  /* border-style: solid; */
  align-items: center;
  justify-content: right;
  column-gap: 5vw;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 4vh;
  z-index: 10;
}
#header1
{
  color: #C79552;
  position: relative;
  right: 3vw;
}
.header2
{
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
}
.header2
{
  position: relative;
  top: 40vh;
}
#fname
{
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto Mono', monospace;
  color: rgb(21, 244, 238);
}
#dname
{
  font-family: 'Source Code Pro', monospace;
  position: relative;
  top: 5vh;
  font-size: 30px;
  text-align: center;
  display: grid;
  justify-content: center;
  color: #f8ffec;
}
.new1
{
  background-color: white;
  width: 100vw;
  height: 100vh;
}
#about-header
{
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
  top: 5vh;
}
.new2
{
  background-color: rgb(119, 119, 119);
  height: 1500px;
}
#projectheader
{
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
  top: 5vh;
}
.projectsection
{
  /* position: relative; */
  /* top: 10vh; */
  margin-top: 10vh;
  display: grid;
  /* row-gap: 40px;
  column-gap: 60px; */
}
/* @media (max-width: 1000px) {
  .projectsection
  {
    grid-template-columns: auto auto;
  }
} */


#project1
{
  color: #12181F;
  /* background-color: #C79552; */
  display: grid;
  justify-items: center;
  align-items: center;
  /* box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19); */
  /* transition-duration: 0.5s; */
}
/* .project-header
{
  position: absolute; 
  top: 20px;
} */
#zoom-test1
{
  /* transition-duration: 0.5s; */
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.project-img1:hover + #zoom-test1
{
  opacity: 0.8;
  height: 500px;
  width: 600px;
}
.project-img1
{
  transition-duration: .1s;
  /* transition-timing-function: ease-in; */
}
h2{
  color: black;
  height: 70px;
  font-size: 20px;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
  font-size: 15px;
}
#p_des_sub
{
  font-size: 2vw;
}
#stack_data{
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
}
#project2
{
  color: #12181F;
  /* background-color: #C79552; */
  display: grid;
  justify-items: center;
  align-items: center;
  /* box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19); */
  /* transition-duration: 0.5s; */
}
#project2:hover
{
  transform: scale(1.1)
}
#project3
{
  color: #12181F;
  background-color: #C79552;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
  /* transition-duration: 0.5s; */
}
#project3:hover
{
  transform: scale(1.1);
  /* opacity: 1; */
}
#project4{
  color: #12181F;
  background-color: #C79552;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
  /* transition-duration: 0.5s; */
}
#project4:hover
{
  transform: scale(1.1)
}
#project5{
  color: #12181F;
  background-color: #C79552;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
  /* transition-duration: 0.5s; */
}
#project5:hover
{
  transform: scale(1.1)
}
#project6
{
  color: #12181F;
  background-color: #C79552;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
  /* transition-duration: .5s; */
}
#project6:hover
{
  transform: scale(1.1)
}

.projectdet1
{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20vh;
}

@media (max-width:1000px){
  .projectdet1
  {
    display: grid;
    grid-template-columns: auto;
    /* justify-content: center;
    align-items: center; */
    position: relative;
    top: 12vh;
  }
  /* .projectdetdes
  {
    background-color: red;
  } */
  .projectsection
  {
    grid-template-columns: auto auto;
    margin-bottom: 100px;
  }
}


/* #img1
{
  width: 300px;
  height: 200px;
} */

.projectdetdes
{
  width: 400px;
  font-size: 30px;
  text-align: center;
  padding: 10vw 0;
  background-color: #C79552;
}
.projectdetimgs
{
  width: 900px;
}

/* image resize accoording to window width and height*/
img
{
  max-width: 100%;
  max-height: 100%;
}
#dummy
{
  padding: 8vw;
}
#cont
{
  background-color: black;
  height: 100vh;
}
#cont-header
{
  position: relative;
  top: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
#my-resume
{
  position: relative;
  top: 10vh;
  height: 100px;
  background-color: red;
}
.logos
{
  width: 400px;
  position: relative;
  top: 20vh;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 100px;
}

#footer
{
  background-color: grey;
  padding: 1vw;
  text-align: center;
}

#contact-form-out
{
  display: grid;
}
.contact-form
{
  padding: 2vw;
  position: relative;
  bottom: 23vh;
  display: grid;
  grid-template-rows: auto;
  width: 300px;
  row-gap: 10px;
  border-style: solid;
}

#popup1
{
  position: absolute;
  left: 10%;
  width: 80%;
  height: 600px;
  background-color: rgb(165, 165, 165);
  z-index: 1;
  display: block;
  overflow: scroll;
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 50px 0 rgba(0, 0, 0, 0.19);
}
#popupclose
{
  text-align: right;
  padding: 10px;
}
.popupslider
{
  width: 600px;
}
#popupslider_test
{
  display: grid;
  justify-content: center;
}
.popupheader
{
  font-size: 50px;
  text-align: center;
}
#popupsubheader
{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 20px;
}

#popupdes
{
  background-color: #C79552;
  border-radius: 30px;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
}



















/* .container-inner {
  float:left;
  width:100%;
  padding-top: 500px;
} */
li {
  
 background-color: rgb(225, 77, 47);
 -webkit-perspective: 360px;
         perspective: 360px;
}

.info {
 -webkit-transform: rotate3d(1, 0, 0, 90deg);
         transform: rotate3d(1, 0, 0, 90deg);
 width: 100%;
 height: 100%;
 padding: 0px 10px;
 position: absolute;
 top: 0;
 left: 0;
 border-radius: 4px;
 pointer-events: none;
 background-color: rgba(106, 9, 125, 0.8);
  /* overflow:hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.info p{
  color:#fff;
}
a{
  text-decoration: none;
}

.in-top .info {
 -webkit-transform-origin: 50% 0%;
     -ms-transform-origin: 50% 0%;
         transform-origin: 50% 0%;
 -webkit-animation: in-top 300ms ease 0ms 1 forwards;
         animation: in-top 300ms ease 0ms 1 forwards;
}

.in-right .info {
 -webkit-transform-origin: 100% 0%;
     -ms-transform-origin: 100% 0%;
         transform-origin: 100% 0%;
 -webkit-animation: in-right 300ms ease 0ms 1 forwards;
         animation: in-right 300ms ease 0ms 1 forwards;
}

.in-bottom .info {
 -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
         transform-origin: 50% 100%;
 -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
         animation: in-bottom 300ms ease 0ms 1 forwards;
}

.in-left .info {
 -webkit-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
         transform-origin: 0% 0%;
 -webkit-animation: in-left 300ms ease 0ms 1 forwards;
         animation: in-left 300ms ease 0ms 1 forwards;
}

.out-top .info {
 -webkit-transform-origin: 50% 0%;
     -ms-transform-origin: 50% 0%;
         transform-origin: 50% 0%;
 -webkit-animation: out-top 300ms ease 0ms 1 forwards;
         animation: out-top 300ms ease 0ms 1 forwards;
}

.out-right .info {
 -webkit-transform-origin: 100% 50%;
     -ms-transform-origin: 100% 50%;
         transform-origin: 100% 50%;
 -webkit-animation: out-right 300ms ease 0ms 1 forwards;
         animation: out-right 300ms ease 0ms 1 forwards;
}

.out-bottom .info {
 -webkit-transform-origin: 50% 100%;
     -ms-transform-origin: 50% 100%;
         transform-origin: 50% 100%;
 -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
         animation: out-bottom 300ms ease 0ms 1 forwards;
}

.out-left .info {
 -webkit-transform-origin: 0% 0%;
     -ms-transform-origin: 0% 0%;
         transform-origin: 0% 0%;
 -webkit-animation: out-left 300ms ease 0ms 1 forwards;
         animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
 from {
   -webkit-transform: rotate3d(-1, 0, 0, 90deg);
           transform: rotate3d(-1, 0, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}

@keyframes in-top {
 from {
   -webkit-transform: rotate3d(-1, 0, 0, 90deg);
           transform: rotate3d(-1, 0, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@-webkit-keyframes in-right {
 from {
   -webkit-transform: rotate3d(0, -1, 0, 90deg);
           transform: rotate3d(0, -1, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@keyframes in-right {
 from {
   -webkit-transform: rotate3d(0, -1, 0, 90deg);
           transform: rotate3d(0, -1, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@-webkit-keyframes in-bottom {
 from {
   -webkit-transform: rotate3d(1, 0, 0, 90deg);
           transform: rotate3d(1, 0, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@keyframes in-bottom {
 from {
   -webkit-transform: rotate3d(1, 0, 0, 90deg);
           transform: rotate3d(1, 0, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@-webkit-keyframes in-left {
 from {
   -webkit-transform: rotate3d(0, 1, 0, 90deg);
           transform: rotate3d(0, 1, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@keyframes in-left {
 from {
   -webkit-transform: rotate3d(0, 1, 0, 90deg);
           transform: rotate3d(0, 1, 0, 90deg);
 }
 to {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
}
@-webkit-keyframes out-top {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(-1, 0, 0, 112.55deg);
           transform: rotate3d(-1, 0, 0, 112.55deg);
 }
}
@keyframes out-top {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(-1, 0, 0, 112.55deg);
           transform: rotate3d(-1, 0, 0, 112.55deg);
 }
}
@-webkit-keyframes out-right {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(0, -1, 0, 112.55deg);
           transform: rotate3d(0, -1, 0, 112.55deg);
 }
}
@keyframes out-right {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(0, -1, 0, 112.55deg);
           transform: rotate3d(0, -1, 0, 112.55deg);
 }
}
@-webkit-keyframes out-bottom {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(1, 0, 0, 112.55deg);
           transform: rotate3d(1, 0, 0, 112.55deg);
 }
}
@keyframes out-bottom {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(1, 0, 0, 112.55deg);
           transform: rotate3d(1, 0, 0, 112.55deg);
 }
}
@-webkit-keyframes out-left {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(0, 1, 0, 112.55deg);
           transform: rotate3d(0, 1, 0, 112.55deg);
 }
}
@keyframes out-left {
 from {
   -webkit-transform: rotate3d(0, 0, 0, 0deg);
           transform: rotate3d(0, 0, 0, 0deg);
 }
 to {
   -webkit-transform: rotate3d(0, 1, 0, 112.55deg);
           transform: rotate3d(0, 1, 0, 112.55deg);
 }
}
/* you can ignore this ones */
ul {
   margin: 0 auto;
   padding: 0;
   width: 980px;
  /* background-color:red; */
}
@media screen and (max-width: 800px)
{
  ul{
    width: 800px;
  }
  .new2
{
  /* background-color: rgb(119, 119, 119); */
  height: 1700px;
}
}

ul:after {
 content: "";
 display: table;
 clear: both;
}

li {
 position: relative;
 display:grid;
 grid-template-columns: auto auto auto; 
 float: left;
 width: 300px;
 height: 300px;
 margin: 5px;
}
li a {
 display: inline-block;
 vertical-align: top;
 text-decoration: none;
 border-radius: 4px;
}
li h3 {
 margin: 0;
 font-size: 16px;
 color: rgba(255, 255, 255, 0.9);
}
/* li p {
 font-size;
} */
* {
 box-sizing: border-box;
}

body {
  font-family:'Lato';
 background-color: #191919;
}












#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
